html{
	overflow:hidden;
}
body{
	background-color:#007700;
	color:white;
	font-family:Consolas;
}
canvas{
	background-color:#002222;
    z-index: -1;
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	/*image-rendering: pixelated;*/
}
input,
button,
textarea,
.output,
.gallery{
	background:#00000088;
	color:yellow;
	font-family:Consolas;
	tab-size:4;
}
textarea{
	color:#00ff00;
}

.UI{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	
	display:flex;
	flex-direction: column;
}
.atas{
	display:flex;
}

.judul,
.awal,
.akhir,
.warna,
.Soutpu,
.Sexport,
.namaexport,
.tambahgambar{
	width:0px;
}
.namaexport,
.judul{
	flex:8;
}
.awal,
.akhir,
.warna,
.data,
.output,
.gallery{
	flex:4;
}
.Sexport,
.kembali{
	flex:2;
}
.tambahgambar,
.hapusgambar{
	flex:.5;
}
.data,
.output,
.gallery{
	resize: none;
	white-space:nowrap;
}
.output,
.gallery{
	overflow: auto;
	color:cyan;
	font-size:12px;
}
.output{
	white-space: pre;
}

.UItutupdata{
	height:initial;
}

.hlmawal{
	height:initial;
}

.buka,
.bukaimg
{
	display:none;
}

table, td{
	border:3px solid white;
	border-collapse:collapse;
}
.rak img{
	height:111px;
}
.namagambar{
	padding:11px;
}

.judul,
.awal,
.akhir,
.warna,
.Sexport,
.namaexport,
.tambahgambar,
.hapusgambar,
.kembali,
.data,
.output,
.gallery
{
	display:none;
}

.hlmawal .judul,
.hlmawal .awal,
.hlmawal .akhir,
.hlmawal .warna,

.hlmdata .judul,
.hlmdata .awal,
.hlmdata .akhir,
.hlmdata .warna,
.hlmdata .data,
.hlmdata .kembali,

.hlmexport .output,
.hlmexport .Sexport,
.hlmexport .namaexport,
.hlmexport .kembali,

.hlmgallery .judul,
.hlmgallery .awal,
.hlmgallery .akhir,
.hlmgallery .warna,
.hlmgallery .gallery,
.hlmgallery .tambahgambar,
.hlmgallery .hapusgambar,
.hlmgallery .kembali
{
	display:initial;
}
.rak tr:hover:not(.gambardipilih){
	background:#ffffff33;
}
.gambardipilih{
	background:#00ff0066;
	color:white;
}
img{
	image-rendering: pixelated;
}
.nodeutamahover{
	background:#334433aa;
}
.outputdivhover{
	background:#005555aa;
	/*color:white;*/
}